@charset "UTF-8";

/*---------------------------------------------------------------------------*\
 * LICENSE                                                                   *
 * Project Name: Pepita UI Build                                             *
 * Author: András Rajkai                                                     *
 * Author URI: https://www.linkedin.com/in/andrasrajkai                      *
 * Description: Trial task for junior web designer / site builder job.       *
 * Version: 2023.08.28.                                                      *
 * License: none                                                             * 
\*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*\
 * IMPORTS                                                                   *
\*---------------------------------------------------------------------------*/

@import '../partials/_reset.scss';
@import '../partials/_variables.scss';
@import '../partials/_typography.scss';
@import '../partials/_mixins.scss';

/*---------------------------------------------------------------------------*\
 * GENERAL CSS RULES                                                         *
\*---------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100%;
  min-height: 100vh;

  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-areas:
      'header'
      'main';

    /* Main Header */
    .main-header {
      width: 100%;
      grid-area: 'header';

      .main-header-inner {
        width: 100%;
        max-width: 1280px;
        padding: 12px;
        @include margin-x-auto;
        @include flex-x-space-between;

        .main-header__logo {
          font: {
            size: 10px;
            weight: 700;
          }
          line-height: normal;
        }

        .main-header__title {
          color: map-get($txt-clr, design);
          font-size: 18px;
          font-weight: 600;
          font: {
            size: 18px;
            weight: 600;
          }
          line-height: 22px;
          margin: 0;
          position: relative;
          left: -12px;
        }

        .main-header__hamburger-menu {
          width: 24px;
          height: 24px;
          object: {
            fit: contain;
            position: center;
          }
          position: relative;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    /* Main Navigation */
    .main-navigation {
      display: fixed;
      width: 100%;
      max-width: 87.5vw;
      height: 100vh;
      padding: 20px;
      font: {
        size: 18px;
        weight: 500;
      }
      background-color: map-get($bg-clr, design);
      box-shadow: map-get($box-shadow-type, navigation-menu);
      @include fixed-position(0px, false, false, -100%);
      z-index: z-index('navigation-menu');

      @media (min-width: map-get($breakpoints, lg)) {
        max-width: 640px;
      }

      &.open {
        @include fixed-position(0px, false, false, 0);
      }

      .main-navigation__links {
        width: fit-content;
        @include margin-x-auto;

        .main-navigation__link {
          width: fit-content;
          padding: 12px 24px 12px 44px;
          margin-bottom: 12px;
          position: relative;

          &:hover:not(:first-of-type) {
            transform: translateX(6px);
            transition: all 0.15s ease-in-out;
          }

          a {
            color: map-get($txt-clr, light);
          }
        }

        .main-navigation__link--search {
          &::before {
            content: url('../../assets/icons/icon-search.svg');
            width: 24px;
            height: auto;
            @include absolute-position(calc(50% - 12px), false, false, 0);
          }

          input {
            width: 100%;
            max-width: 320px;
            height: 42px;
            padding: 10px;
            border: 2px solid white;
            color: map-get($txt-clr, light);
            background-color: map-get($input-bg-clr, default);
            font: {
              size: inherit;
              weight: inherit;
            }

            &::placeholder {
              font: {
                size: inherit;
                weight: inherit;
              }
              line-height: 22px;
              color: map-get($txt-clr, light);
            }

            &:focus {
              outline: none;
            }
          }
        }

        .main-navigation__link--exhibitions-events {
          &::before {
            content: url('../../assets/icons/icon-exhibitions-events.svg');
            width: 24px;
            height: auto;
            @include absolute-position(calc(50% - 14px), false, false, -2px);
          }
        }

        .main-navigation__link--artists-artworks {
          &::before {
            content: url('../../assets/icons/icon-artists-artworks.svg');
            width: 24px;
            height: auto;
            @include absolute-position(calc(50% - 12px), false, false, -1px);
          }
        }

        .main-navigation__link--collections {
          &::before {
            content: url('../../assets/icons/icon-collections.svg');
            width: 24px;
            height: auto;
            @include absolute-position(calc(50% - 9.5px), false, false, 2);
          }
        }

        .main-navigation__link--plan-your-visit {
          &::before {
            content: url('../../assets/icons/icon-plan-your-visit.svg');
            width: 24px;
            height: auto;
            @include absolute-position(calc(50% - 8px), false, false, -3px);
          }
        }

        .main-navigation__link--become-member {
          &::before {
            content: url('../../assets/icons/icon-become-member.svg');
            width: 24px;
            height: auto;
            @include absolute-position(calc(50% - 8px), false, false, -5px);
          }
        }

        .main-navigation__link--shop {
          &::before {
            content: url('../../assets/icons/icon-shop.svg');
            width: 24px;
            height: auto;
            @include absolute-position(calc(50% - 15.5px), false, false, -2px);
          }
        }
      }
    }

    .page-content {
      grid-area: 'main';
    }
  }
}

/*---------------------------------------------------------------------------*\
 * BASIC ELEMENTS                                                            *
\*---------------------------------------------------------------------------*/

a {
  color: map-get($txt-clr, dark);
  text-decoration: none;
  transition: all 0.1s ease;

  &:hover {
    color: map-get($txt-clr, design);
  }
}

.btn-default {
  display: block;
  padding: 12px 60px;
  border: 2px solid map-get($map: $border-clr, $key: design);
  font-size: 12px;
  font-weight: 600;
  color: map-get($map: $txt-clr, $key: light);
  background-color: map-get($map: $bg-clr, $key: design);
  @include margin-x-auto;
  box-shadow: map-get($map: $box-shadow-type, $key: btn-default);
  transition: $transition-default;

  &:hover {
    color: map-get($map: $txt-clr, $key: design);
    background-color: map-get($map: $btn-bg-clr, $key: hover);
  }

  &:active {
    box-shadow: map-get($map: $box-shadow-type, $key: btn-active);
  }
}

/*---------------------------------------------------------------------------*\
 * BACKDROP                                                                  *
\*---------------------------------------------------------------------------*/

.backdrop.open {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  @include fixed-position($top: 0, $right: false, $bottom: false, $left: 0);
  z-index: z-index('backdrop');
}
