@charset "UTF-8";
/*---------------------------------------------------------------------------*\
 * LICENSE                                                                   *
 * Project Name: Pepita UI Build                                             *
 * Author: András Rajkai                                                     *
 * Author URI: https://www.linkedin.com/in/andrasrajkai                      *
 * Description: Trial task for junior web designer / site builder job.       *
 * Version: 2023.08.28.                                                      *
 * License: none                                                             * 
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * IMPORTS                                                                   *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * LICENSE                                                                   *
 * Author: Eric Meyer                                                        *
 * Author URI: http://meyerweb.com/eric/tools/css/reset/                     *
 * Version: v2.0 | 20110126                                                  *
 * License: none (public domain)                                             * 
\*---------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
        VARIABLES
\*------------------------------------*/
/* Text Colors */
/* Background Colors */
/* Input Field Background Colors */
/* Button Background Colors */
/* Border Colors */
/* Shadows */
/* Media Query Breakpoints */
/* Positioning */
/*---------------------------------------------------------------------------*\
 * IMPORTS                                                                   *
\*---------------------------------------------------------------------------*/
/*------------------------------------*\
        VARIABLES
\*------------------------------------*/
/* Text Colors */
/* Background Colors */
/* Input Field Background Colors */
/* Button Background Colors */
/* Border Colors */
/* Shadows */
/* Media Query Breakpoints */
/* Positioning */
/*---------------------------------------------------------------------------*\
 * BROWSER VENDOR PREFIXES                                                   *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * FONTS                                                                *
\*---------------------------------------------------------------------------*/
/* @mixin font-montserrat(
  $size: false,
  $weight: false,
  $lineHeight: false,
  $letterSpacing: false,
  $color: false
) {
  font-family: 'Montserrat', sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $line-height {
    line-height: $lh;
  }
  @if $letter-spacing {
    line-height: $lh;
  }
  @if $color {
    color: $color;
  }
} */
/*---------------------------------------------------------------------------*\
 * MEDIA QUERIES                                                             *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * ADD PSEUDO CONTENT                                                        *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * POSITIONING                                                               *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * TEXT FORMATTING                                                           *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * TYPOGRAPHY                                                                *
\*---------------------------------------------------------------------------*/
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat.ttf") format("truetype");
}
body,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* @include font-montserrat('16px', '400', '24px', '0.015em', false); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 400;
  margin: 48px 0 24px;
}

h1 + h3,
h2 + h4,
h3 + h5,
h4 + h6 {
  margin-top: 24px;
}

h1 {
  font-size: 50px;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 34px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
}

h5 {
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

/*---------------------------------------------------------------------------*\
 * BROWSER VENDOR PREFIXES                                                   *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * FONTS                                                                *
\*---------------------------------------------------------------------------*/
/* @mixin font-montserrat(
  $size: false,
  $weight: false,
  $lineHeight: false,
  $letterSpacing: false,
  $color: false
) {
  font-family: 'Montserrat', sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $line-height {
    line-height: $lh;
  }
  @if $letter-spacing {
    line-height: $lh;
  }
  @if $color {
    color: $color;
  }
} */
/*---------------------------------------------------------------------------*\
 * MEDIA QUERIES                                                             *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * ADD PSEUDO CONTENT                                                        *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * POSITIONING                                                               *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * TEXT FORMATTING                                                           *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * GENERAL CSS RULES                                                         *
\*---------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}
html body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-areas: "header" "main";
  /* Main Header */
  /* Main Navigation */
}
html body .main-header {
  width: 100%;
}
html body .main-header .main-header-inner {
  width: 100%;
  max-width: 1280px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .main-header .main-header-inner .main-header__logo {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
}
html body .main-header .main-header-inner .main-header__title {
  color: #ff473a;
  font-size: 18px;
  font-weight: 600;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
}
html body .main-header .main-header-inner .main-header__hamburger-menu {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
html body .main-navigation {
  display: fixed;
  width: 87.5vw;
  max-width: 640px;
  height: 100vh;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #ff473a;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  /* transition: all 0.3s ease-in-out; */
  position: fixed;
  top: 0px;
  right: false;
  bottom: false;
  left: -100%;
  z-index: 3;
}
html body .main-navigation.open {
  position: fixed;
  top: 0px;
  right: false;
  bottom: false;
  left: 0;
}
html body .main-navigation .main-navigation__links {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
html body .main-navigation .main-navigation__links .main-navigation__link {
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px 12px 44px;
  margin-bottom: 12px;
  position: relative;
}
html body .main-navigation .main-navigation__links .main-navigation__link:hover:not(:first-of-type) {
  transform: translateX(6px);
  transition: all 0.15s ease-in-out;
}
html body .main-navigation .main-navigation__links .main-navigation__link a {
  color: #ffffff;
}
html body .main-navigation .main-navigation__links .main-navigation__link--search::before {
  content: url("../../assets/icons/icon-search.svg");
  width: 24px;
  height: auto;
  position: absolute;
  top: calc(50% - 12px);
  right: false;
  bottom: false;
  left: 0;
}
html body .main-navigation .main-navigation__links .main-navigation__link--search input {
  width: 100%;
  max-width: 320px;
  height: 42px;
  padding: 10px;
  border: 2px solid white;
  color: #ffffff;
  background-color: #ff473a;
  font-size: inherit;
  font-weight: inherit;
}
html body .main-navigation .main-navigation__links .main-navigation__link--search input::-moz-placeholder {
  font-size: inherit;
  font-weight: inherit;
  line-height: 22px;
  color: #ffffff;
}
html body .main-navigation .main-navigation__links .main-navigation__link--search input::placeholder {
  font-size: inherit;
  font-weight: inherit;
  line-height: 22px;
  color: #ffffff;
}
html body .main-navigation .main-navigation__links .main-navigation__link--search input:focus {
  outline: none;
}
html body .main-navigation .main-navigation__links .main-navigation__link--exhibitions-events::before {
  content: url("../../assets/icons/icon-exhibitions-events.svg");
  width: 24px;
  height: auto;
  position: absolute;
  top: calc(50% - 14px);
  right: false;
  bottom: false;
  left: -2px;
}
html body .main-navigation .main-navigation__links .main-navigation__link--artists-artworks::before {
  content: url("../../assets/icons/icon-artists-artworks.svg");
  width: 24px;
  height: auto;
  position: absolute;
  top: calc(50% - 12px);
  right: false;
  bottom: false;
  left: -1px;
}
html body .main-navigation .main-navigation__links .main-navigation__link--collections::before {
  content: url("../../assets/icons/icon-collections.svg");
  width: 24px;
  height: auto;
  position: absolute;
  top: calc(50% - 9.5px);
  right: false;
  bottom: false;
  left: 2;
}
html body .main-navigation .main-navigation__links .main-navigation__link--plan-your-visit::before {
  content: url("../../assets/icons/icon-plan-your-visit.svg");
  width: 24px;
  height: auto;
  position: absolute;
  top: calc(50% - 8px);
  right: false;
  bottom: false;
  left: -3px;
}
html body .main-navigation .main-navigation__links .main-navigation__link--become-member::before {
  content: url("../../assets/icons/icon-become-member.svg");
  width: 24px;
  height: auto;
  position: absolute;
  top: calc(50% - 8px);
  right: false;
  bottom: false;
  left: -5px;
}
html body .main-navigation .main-navigation__links .main-navigation__link--shop::before {
  content: url("../../assets/icons/icon-shop.svg");
  width: 24px;
  height: auto;
  position: absolute;
  top: calc(50% - 15.5px);
  right: false;
  bottom: false;
  left: -2px;
}

/*---------------------------------------------------------------------------*\
 * BASIC ELEMENTS                                                            *
\*---------------------------------------------------------------------------*/
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #ff473a;
}

.btn-default {
  display: block;
  padding: 12px 60px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff473a;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*---------------------------------------------------------------------------*\
 * BACKDROP                                                                  *
\*---------------------------------------------------------------------------*/
.backdrop.open {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: false;
  bottom: false;
  left: 0;
  z-index: 2;
}

/*---------------------------------------------------------------------------*\
 * TRANSITIONS                                                               *
\*---------------------------------------------------------------------------*/
a {
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=shared.css.map */