@charset "UTF-8";

/*---------------------------------------------------------------------------*\
 * FONTS                                                                *
\*---------------------------------------------------------------------------*/

@mixin font-face($font-name) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('../../assets/fonts/#{$font-name}.ttf') format('truetype');
  }
}

@mixin font-montserrat(
  $size: false,
  $weight: false,
  $line-height: false,
  $color: false
) {
  font-family: 'Montserrat', sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $line-height {
    line-height: $line-height;
  }
  @if $color {
    color: $color;
  }
}

/*---------------------------------------------------------------------------*\
 * ADD PSEUDO CONTENT                                                        *
\*---------------------------------------------------------------------------*/

@mixin pseudo($content: '', $width: false, $height: false) {
  content: $content;
  width: $width;
  height: $height;
  @content;
}

/*---------------------------------------------------------------------------*\
 * POSITIONING                                                               *
\*---------------------------------------------------------------------------*/

@mixin margin-x-auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin flex-xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-x-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@function z-index($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}

@mixin position-y-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin absolute-position(
  $top: false,
  $right: false,
  $bottom: false,
  $left: false
) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixed-position(
  $top: false,
  $right: false,
  $bottom: false,
  $left: false
) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/*---------------------------------------------------------------------------*\
 * TEXT FORMATTING                                                           *
\*---------------------------------------------------------------------------*/

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
