@charset "UTF-8";

/*------------------------------------*\
        VARIABLES
\*------------------------------------*/
/* Text */
$txt-clr-primary: #000000;
$txt-clr-secondary: #d4d4d4;
$txt-clr-design: #ff473a;

/* Background */
$bg-clr-primary: #ffffff;
$bg-clr-design: #ff473a;
