/*---------------------------------------------------------------------------*\
 * IMPORTS                                                                   *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * FONTS                                                                *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * ADD PSEUDO CONTENT                                                        *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * POSITIONING                                                               *
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*\
 * TEXT FORMATTING                                                           *
\*---------------------------------------------------------------------------*/
/*------------------------------------*\
        VARIABLES
\*------------------------------------*/
/* Text Colors */
/* Background Colors */
/* Input Field Background Colors */
/* Button Background Colors */
/* Border Colors */
/* Box Shadows */
/* Animations */
/* Media Query Breakpoints */
/* Positioning */
/* Page Tickets */
.page-tickets {
  width: 100%;
  max-width: 640px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  /* Hero Text */
  /* Date Picker */
  /* Ticket Types */
  /* Ticket Payment Amount */
}
.page-tickets.shifted {
  position: relative;
  left: 87.5vw;
}
@media (min-width: 768px) {
  .page-tickets.shifted {
    left: 80vw;
  }
}
@media (min-width: 1024px) {
  .page-tickets.shifted {
    left: 45vw;
  }
}
@media (min-width: 1280px) {
  .page-tickets.shifted {
    left: 25vw;
  }
}
@media (min-width: 1536px) {
  .page-tickets.shifted {
    left: 15vw;
  }
}
.page-tickets .page-tickets__hero-text {
  margin-bottom: 16px;
}
.page-tickets .page-tickets__hero-text .hero-text__title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.page-tickets .page-tickets__hero-text .hero-text__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  color: #ff473a;
  margin: 0;
}
.page-tickets .page-tickets__date-picker {
  margin-bottom: 53px;
}
.page-tickets .page-tickets__date-picker .date-picker__days {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #d4d4d4;
  padding: 0 16px 6px 16px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d4d4d4;
}
.page-tickets .page-tickets__date-picker .date-picker__days .date-picker__day {
  cursor: pointer;
  transition: all 0.25s ease;
}
.page-tickets .page-tickets__date-picker .date-picker__days .date-picker__day:hover {
  color: #000000;
}
.page-tickets .page-tickets__date-picker .date-picker__days .date-picker__day.highlighted {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000000;
  position: relative;
  bottom: 6px;
}
.page-tickets .page-tickets__date-picker .date-picker__days .date-picker__day.highlighted::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff473a;
  position: absolute;
  left: 0;
  bottom: -14px;
}
.page-tickets .page-tickets__date-picker .date-picker__chosen-date {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.page-tickets .page-tickets__ticket-types {
  margin-bottom: 70px;
}
.page-tickets .page-tickets__ticket-types .ticket-type {
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.page-tickets .page-tickets__ticket-types .ticket-type:not(:last-child) {
  margin-bottom: 32px;
}
.page-tickets .page-tickets__ticket-types .ticket-type .ticket-type__title {
  font-size: 18px;
  font-weight: 600;
}
.page-tickets .page-tickets__ticket-types .ticket-type .ticket-type__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: #d4d4d4;
}
.page-tickets .page-tickets__ticket-types .ticket-type .ticket-type__counter {
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-tickets .page-tickets__ticket-types .ticket-type .ticket-type__counter .counter__decrease,
.page-tickets .page-tickets__ticket-types .ticket-type .ticket-type__counter .counter__increase {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  line-height: 16px;
  color: #d4d4d4;
  text-align: center;
  cursor: pointer;
}
.page-tickets .page-tickets__ticket-types .ticket-type .ticket-type__counter .counter__decrease:hover,
.page-tickets .page-tickets__ticket-types .ticket-type .ticket-type__counter .counter__increase:hover {
  color: #000000;
  border-color: #000000;
}
.page-tickets .page-tickets__ticket-types .ticket-type .ticket-type__counter .counter__decrease {
  line-height: 15px;
}
.page-tickets .page-tickets__ticket-types .ticket-type .ticket-type__counter .counter__quantity {
  color: #d4d4d4;
}
.page-tickets .page-tickets__ticket-types .ticket-type .ticket-type__counter .counter__quantity.highlighted {
  color: #000000;
  font-weight: 600;
}
.page-tickets .page-tickets__payment .payment-wrapper {
  padding: 0 16px 0 16px;
  margin-bottom: 32px;
  border-top: 2px solid #ff473a;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.page-tickets .page-tickets__payment .payment-wrapper .payment__total-amount {
  margin-right: 18px;
  color: #d4d4d4;
}
.page-tickets .page-tickets__payment .payment-wrapper .payment__total-amount.highlighted {
  color: #000000;
}
.page-tickets .page-tickets__payment .payment-wrapper .payment__total-amount::before {
  content: "$";
  width: false;
  height: false;
}/*# sourceMappingURL=tickets.css.map */