@charset "UTF-8";

/*---------------------------------------------------------------------------*\
 * IMPORTS                                                                   *
\*---------------------------------------------------------------------------*/

@import '../../../styles/partials/_mixins.scss';
@import '../../../styles/partials/_variables.scss';

/* Page Tickets */
.page-tickets {
  width: 100%;
  max-width: 640px;
  padding: 12px;
  @include margin-x-auto;

  &.shifted {
    position: relative;
    left: 87.5vw;

    @media (min-width: map-get($breakpoints, md)) {
      left: 80vw;
    }

    @media (min-width: map-get($breakpoints, lg)) {
      left: 45vw;
    }

    @media (min-width: map-get($breakpoints, xl)) {
      left: 25vw;
    }

    @media (min-width: map-get($breakpoints, xxl)) {
      left: 15vw;
    }
  }

  /* Hero Text */
  .page-tickets__hero-text {
    margin-bottom: 16px;

    .hero-text__title {
      @include font-montserrat(
        $size: 24px,
        $weight: 600,
        $line-height: normal,
        $color: false
      );
      margin: 0;
    }

    .hero-text__subtitle {
      @include font-montserrat(
        $size: 12px,
        $weight: 600,
        $line-height: normal,
        $color: map-get($map: $txt-clr, $key: design)
      );
      margin: 0;
    }
  }

  /* Date Picker */
  .page-tickets__date-picker {
    margin-bottom: 53px;

    .date-picker__days {
      @include font-montserrat(
        $size: 18px,
        $weight: 500,
        $line-height: false,
        $color: map-get($map: $txt-clr, $key: grayish)
      );
      padding: 0 16px 6px 16px;
      margin-bottom: 4px;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid map-get($map: $border-clr, $key: grayish);

      .date-picker__day {
        cursor: pointer;
        transition: $transition-default;

        &:hover {
          color: map-get($map: $txt-clr, $key: dark);
        }

        &.highlighted {
          @include font-montserrat(
            $size: false,
            $weight: 600,
            $line-height: false,
            $color: map-get($map: $txt-clr, $key: dark)
          );
          position: relative;
          bottom: 6px;

          &::after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: map-get($map: $bg-clr, $key: design);
            position: absolute;
            left: 0;
            bottom: -14px;
          }
        }
      }
    }

    .date-picker__chosen-date {
      @include font-montserrat(
        $size: 12px,
        $weight: 600,
        $line-height: normal,
        $color: false
      );
      text-align: center;
    }
  }

  /* Ticket Types */
  .page-tickets__ticket-types {
    margin-bottom: 70px;

    .ticket-type {
      padding: 0 16px 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: start;

      &:not(:last-child) {
        margin-bottom: 32px;
      }

      .ticket-type__title {
        font-size: 18px;
        font-weight: 600;
      }

      .ticket-type__subtitle {
        @include font-montserrat(
          $size: 12px,
          $weight: 500,
          $line-height: normal,
          $color: map-get($map: $txt-clr, $key: grayish)
        );
      }

      .ticket-type__counter {
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .counter__decrease,
        .counter__increase {
          display: inline-block;
          width: 18px;
          height: 18px;
          border: 1px solid map-get($map: $border-clr, $key: grayish);
          background-color: map-get($map: $bg-clr, $key: light);
          @include font-montserrat(
            $size: false,
            $weight: false,
            $line-height: 16px,
            $color: map-get($map: $txt-clr, $key: grayish)
          );
          text-align: center;
          cursor: pointer;

          &:hover {
            color: map-get($map: $txt-clr, $key: dark);
            border-color: map-get($map: $border-clr, $key: dark);
          }
        }

        .counter__decrease {
          line-height: 15px;
        }

        .counter__quantity {
          color: map-get($map: $txt-clr, $key: grayish);

          &.highlighted {
            color: map-get($map: $txt-clr, $key: dark);
            font-weight: 600;
          }
        }
      }
    }
  }

  /* Ticket Payment Amount */
  .page-tickets__payment {
    .payment-wrapper {
      padding: 0 16px 0 16px;
      margin-bottom: 32px;
      border-top: 2px solid map-get($map: $border-clr, $key: design);
      @include font-montserrat(
        $size: 18px,
        $weight: 600,
        $line-height: false,
        $color: false
      );
      display: flex;
      justify-content: space-between;

      .payment__total-amount {
        margin-right: 18px;
        color: map-get($map: $txt-clr, $key: grayish);
        &.highlighted {
          color: map-get($map: $txt-clr, $key: dark);
        }
        &::before {
          @include pseudo('$', false, false);
        }
      }
    }
  }
}
