@charset "UTF-8";

/*---------------------------------------------------------------------------*\
 * IMPORTS                                                                   *
\*---------------------------------------------------------------------------*/

@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/_variables.scss';

/* Page 404 */
.page-not-found {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  max-height: 100vh;
  padding: 12px;
  @include margin-x-auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &.shifted {
    position: relative;
    left: 87.5vw;

    @media (min-width: map-get($breakpoints, md)) {
      left: 80vw;
    }

    @media (min-width: map-get($breakpoints, lg)) {
      left: 45vw;
    }

    @media (min-width: map-get($breakpoints, xl)) {
      left: 25vw;
    }

    @media (min-width: map-get($breakpoints, xxl)) {
      left: 15vw;
    }
  }

  .hero-text {
    margin: 0;
    @include font-montserrat(
      $size: 18px,
      $weight: false,
      $line-height: normal,
      $color: map-get($map: $txt-clr, $key: grayish)
    );
  }
}
